@use "@minvws/manon-themes/icore-open" with (
  $font-path: "/_static/fonts"
);

@use "@minvws/manon/components/bundles/all";

@use "admonition";
@use "header-link";
@use "pagination";
@use "pre";
@use "print";
